@model WebApplication1.Models.LoginViewModel

<h2>Login</h2>
<p>Usted está accediendo desde la máquina : @ViewData["NombreEquipo"]</p>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <input type="submit" value="Ingresar" class="btn btn-default" />

}

@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <h2 class="alert-error well">@ViewBag.Mensaje</h2>
}